body{
    background-color: rgb(20, 19, 19);
}
#board {
    position: relative;
    display: flex;
    max-width: 500px;
    height: 75vh;
    background-color: rgb(44, 41, 41);
}

#grid {
    position: relative;
    display: grid;
    flex-grow: 1;
    grid-template: 100px repeat(10, 1fr) / repeat(1, 1fr);
    row-gap: 7px;
    margin: 20px;
}

#grid > div {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    place-self: center;
    width: 100%;
    column-gap: 20px;
}

#grid > div > div, #secret > div > div{ 
    background: rgb(135,112,214);
    background: linear-gradient(35deg, rgba(135,112,214,1) 0%, rgba(102,51,153,1) 100%);
    place-self: center;
    height: 42px;
    width: 42px;
    border-radius: 1000px;
    opacity: .7;
    -webkit-box-shadow: -4px 5px 12px 1px #1A1A1A; 
    box-shadow: -4px 5px 12px 1px #1A1A1A;
}

#secret.hidden {
    background-color: #231d1d;
    border-radius: 100px;
}
#secret.hidden div{
    background: transparent !important;
    box-shadow: -4px 5px 12px 1px transparent !important;
    -webkit-box-shadow: -4px 5px 12px 1px transparent !important;
}

#grid > div.selected-row > div:hover{
    opacity: 1;
}

#check-grid {
    display: grid;
    grid-template: 100px repeat(10, 1fr) / repeat(1, 1fr);
    row-gap: 5px;
    background-color: rgb(29, 25, 25);
    padding: 20px 5px;
}

#check-grid > div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    place-self: center;
}
#grid > div:first-child{
    margin: 15px 20px;
    padding: 10px 0;
}
#check-grid > div:first-child{
    margin: 15px 0;
}
#check-grid > div:first-child div{
    background-color: inherit;
}
#check-grid > div > div {
    width: 15px;
    height: 15px;
    margin: 2px;
    place-self: center;
    background-color: rgb(73, 73, 73);
    border-radius: 1000px;
}

#check {
    position: absolute;
}

.color-menu {
    position: relative;
    display: flex;
    background-color: rgb(36, 34, 34);
    border-radius: 1000px;
    width: fit-content;
    align-items: center;
    right: 33px;
    top: 26px;
    column-gap: 5px;
    border: transparent 26px solid;
    background-clip: content-box;
}

.color-menu-item {
    height: 42px;
    width: 42px;
    margin: 5px 0;
    border-radius: 1000px;
    opacity: 1;
}

.color-menu-item:hover{
    opacity: 1;
}

.color-menu-item:first-child{
    margin-left: 5px;
}

.color-menu-item:last-child{
    margin-right: 5px;
}

div[data-color="orange"]{
    background: rgb(2,0,36) !important;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(255,68,0,1) 58%) !important;
}

div[data-color="yellow"]{
    background: rgb(2,0,36) !important;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(255,205,0,1) 58%) !important;
}

div[data-color="green"]{
    background: rgb(2,0,36) !important;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(0,255,117,1) 58%) !important;
}

div[data-color="pink"]{
    background: rgb(2,0,36) !important;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(248,0,255,1) 58%) !important;
}

div[data-color="red"]{
    background: rgb(2,0,36) !important;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 58%) !important;
}

div[data-color="blue"]{
    background: rgb(2,0,36) !important;
    background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(0,129,255,1) 58%) !important;
}

div[data-color]{
    box-shadow: -4px 5px 12px 1px #0c0c0c !important;
    -webkit-box-shadow: -4px 5px 12px 1px #0c0c0c !important; 
}

div[data-hint="0"]{
    background-color: black !important;
}

div[data-hint="1"]{
    background-color: white !important;
}

.selected-row{
    background-color: #1e161682;
    border-radius: 1000px;
}

.button{
    height: 50px;
    width: 100px;
    background-color: rgb(175, 69, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: large;
    cursor: pointer;
    filter: opacity(0.8);
}
.button:hover{
    filter: opacity(1);
}
#full-board{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}