body{
    background-color: rgb(20, 19, 19);
}
#board {
    position: absolute;
    display: flex;
    max-width: 500px;
    height: 75vh;
}

#grid {
    position: relative;
    display: grid;
    flex-grow: 1;
    height: 100%;
    grid-template: repeat(10, 1fr) / repeat(1, 1fr);
    row-gap: 7px;
    padding: 20px;
}

#grid > div, #secret > div{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    place-self: center;
    height: 100%;
    width: 100%;
    column-gap: 20px;
}

#grid > div > div, #secret > div > div{ 
    background-color: rebeccapurple;
    place-self: center;
    height: 50px;
    width: 50px;
    border-radius: 1000px;
}

#grid #cover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgb(44, 41, 41);
    z-index: -1;
}

#check-grid {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(1, 1fr);
    row-gap: 7px;
    height: 100%;
    background-color: rgb(29, 25, 25);
    padding: 20px 5px;
}

#check-grid > div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    place-self: center;
}

#check-grid > div > div {
    width: 20px;
    height: 20px;
    margin: 2px;
    place-self: center;
    background-color: rgb(73, 73, 73);
    border-radius: 1000px;
}

#check {
    position: absolute;
}

.color-menu {
    position: relative;
    display: flex;
    background-color: rgba(36, 34, 34, 0.815);
    border-radius: 1000px;
    width: fit-content;
    align-items: center;
    height: 60px;
    top: 60px;
    column-gap: 5px;
    padding: 0 5px;
}

.color-menu-wrapper {
    width: 200px;
    height: 100px;
    background-color: rgba(76, 0, 130, 0);
}

.color-menu-item {
    height: 50px;
    width: 50px;
    border-radius: 1000px;
}

div[data-color="red"]{
    background-color: red !important;
}

div[data-color="yellow"]{
    background-color: yellow !important;
}

div[data-color="green"]{
    background-color: green !important;
}

div[data-color="black"]{
    background-color: black !important;
}

div[data-color="white"]{
    background-color: white !important;
}

div[data-color="blue"]{
    background-color: blue !important;
}

div[data-hint="0"]{
    background-color: black !important;
}

div[data-hint="1"]{
    background-color: white !important;
}

#secret {
    display: none;
}