@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
    --defaultPin1: 200,198,209; 
    --defaultPin2: 58,54,60;
    --defaultPinS: 135,112,214;

    --defaultGradient1: 2,0,36;
    --orangePin2: 255,111,38;
    --yellowPin2: 255,205,0;
    --greenPin2: 0,255,117;
    --pinkPin2: 248,0,255;
    --redPin2: 255,0,0;
    --bluePin2: 0,129,255;
}

body{
    background-color: rgb(20, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
#board {
    position: relative;
    display: flex;
    background: #2e2e2e;
    /*background: linear-gradient(25deg, rgba(151,53,255,1) 0%, rgba(193,200,15,1) 90%);*/
    /*background: linear-gradient(188.18deg, #031D2C 0%, #010316 50.01%, #272E68 81.78%, #3872B6 100%);*/
}

#grid {
    position: relative;
    display: grid;
    flex-grow: 1;
    grid-template: 100px repeat(10, 1fr) / repeat(1, 1fr);
    row-gap: 7px;
    margin: 20px;
}

#grid > div {
    display: grid;
    position: relative;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    place-self: center;
    width: 100%;
    column-gap: 20px;
    padding: 4px 0;
}

#grid > div > div, #secret > div > div{ 
    background: var(--defaultPinS);
    background: linear-gradient(35deg, rgba(var(--defaultPin1), 0.7) 0%, rgba(var(--defaultPin2), 0.7));
    place-self: center;
    height: 38px;
    width: 38px;
    border-radius: 1000px;
    -webkit-box-shadow: -4px 5px 12px 1px #1A1A1A; 
    box-shadow: -4px 5px 12px 1px #1A1A1A;
    z-index: 2;
}

#grid > div > div.rowAnimation{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: none;
    background: transparent !important;
    z-index: -1;
}

#grid > div > div.rowAnimation.animating{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: none;
    background-color: #1e161682 !important;
    z-index: 1;
}

/* #secret.hidden {
    background-color: #231d1d;
    border-radius: 100px;
}
#secret.hidden div{
    background: transparent !important;
    box-shadow: -4px 5px 12px 1px transparent !important;
    -webkit-box-shadow: -4px 5px 12px 1px transparent !important;
} */

#grid > div.selected-row > div:hover{
    background: linear-gradient(35deg, rgba(var(--defaultPin1), 1) 0%, rgba(var(--defaultPin2), 1));
}

#check-grid {
    display: grid;
    grid-template: 100px repeat(10, 1fr) / repeat(1, 1fr);
    row-gap: 5px;
    background-color: rgb(29, 25, 25);
    padding: 20px 5px;
}

#check-grid > div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    place-self: center;
}
#grid > div:first-child{
    margin: 15px 20px;
    padding: 10px 0;
}
#check-grid > div:first-child{
    margin: 15px 0;
}
#check-grid > div:first-child div{
    background-color: inherit;
}
#check-grid > div > div {
    width: 15px;
    height: 15px;
    margin: 2px;
    place-self: center;
    background-color: rgb(73, 73, 73);
    border-radius: 1000px;
}

.color-menu {
    position: relative;
    display: flex;
    background-color: rgb(36, 34, 34);
    border-radius: 1000px;
    width: fit-content;
    align-items: center;
    right: 145px;
    top: -92px;
    column-gap: 5px;
    border: transparent 30px solid;
    background-clip: content-box;
}

.color-menu-item {
    height: 42px;
    width: 42px;
    margin: 5px 0;
    border-radius: 1000px;
    opacity: 1;
}

.color-menu-item:hover{
    opacity: 1;
}

.color-menu-item:first-child{
    margin-left: 5px;
}

.color-menu-item:last-child{
    margin-right: 5px;
}

div[data-color="orange"]{
    background: rgb(var(--orangePin2)) !important;
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),0.7) 0%, rgba(var(--orangePin2),0.7) 58%) !important;
}

div[data-color="orange"]:hover{
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),1) 0%, rgba(var(--orangePin2),1) 58%) !important;
}

div[data-color="yellow"]{
    background: rgb(var(--yellowPin2)) !important;
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),0.7) 0%, rgba(var(--yellowPin2),0.7) 58%) !important;
}

div[data-color="yellow"]:hover{
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),1) 0%, rgba(var(--yellowPin2),1) 58%) !important;
}

div[data-color="green"]{
    background: rgb(var(--greenPin2)) !important;
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),0.7) 0%, rgba(var(--greenPin2),0.7) 58%) !important;
}

div[data-color="green"]:hover{
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),1) 0%, rgba(var(--greenPin2),1) 58%) !important;
}

div[data-color="pink"]{
    background: rgb(var(--pinkPin2)) !important;
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),0.7) 0%, rgba(var(--pinkPin2),0.7) 58%) !important;
}

div[data-color="pink"]:hover{
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),1) 0%, rgba(var(--pinkPin2),1) 58%) !important;
}

div[data-color="red"]{
    background: rgb(var(--redPin2)) !important;
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),0.7) 0%, rgba(var(--redPin2),0.7) 58%) !important;
}

div[data-color="red"]:hover{
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),1) 0%, rgba(var(--redPin2),1) 58%) !important;
}

div[data-color="blue"]{
    background: var(--bluePin2) !important;
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),0.7) 0%, rgba(var(--bluePin2),0.7) 58%) !important;
}

div[data-color="blue"]:hover{
    background: linear-gradient(35deg, rgba(var(--defaultGradient1),1) 0%, rgba(var(--bluePin2),1) 58%) !important;
}


div[data-color]{
    box-shadow: -4px 5px 12px 1px #1A1A1A !important;
    -webkit-box-shadow: -4px 5px 12px 1px #1A1A1A !important; 
}

div[data-hint="0"]{
    background: rgb(53,21,87) !important;
    background: linear-gradient(35deg, rgb(20 8 32) 0%, rgba(0,0,0,1) 50%) !important;
}

div[data-hint="1"]{
    background: rgb(78,29,131) !important;
    background: linear-gradient(35deg, rgba(78,29,131,1) 0%, rgba(255,255,255,1) 50%) !important;
}

.selected-row{
    background-color: #1e161682;
    border-radius: 1000px;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 35deg;
}

.button{
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: large;
    cursor: pointer;
    filter: opacity(0.8);
    font-size: .9rem;
    --a: 35deg;
    background: linear-gradient(var(--a), rgba(151,53,255,1) 30%, rgba(193,200,15,1) 80%);
    transition: --a .7s;
    color: #0e0e0e;
    user-select: none;
}
.button:hover{
    --a: 120deg;
    filter: opacity(1);
}

#full-board{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

#logo{
    background: -webkit-linear-gradient(35deg, rgba(151,53,255,1) 30%, rgba(193,200,15,1) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    /* color: #565412;*/
    user-select: none;
    transform: perspective(191px) rotateX(23deg);
    -webkit-transform: perspective(191px) rotateX(23deg);
    box-shadow: 10px 5px 5px linear-gradient(35deg, rgba(151,53,255,1) 30%, rgba(193,200,15,1) 80%);
}